<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="icartConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=icart;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>